// Specific CSS for your home-page

// global links
a {
    color: inherit;
    text-decoration: none;
  }
  
  a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
  text-decoration: none;
  color: white;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }